<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVRb5hLnysk4pyR3pIzsJOgipDOPx_i8s</string>
	<key>GCM_SENDER_ID</key>
	<string>1083886211348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crimereportingAndPreventionsystem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crimereportingandprevent-22511</string>
	<key>STORAGE_BUCKET</key>
	<string>crimereportingandprevent-22511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083886211348:ios:adeadf0e88c0a1d0163201</string>
</dict>
</plist>